version: 2
jobs:
  build:
    docker:
      - image: circleci/clojure:openjdk-11-lein-2.9.1
    steps:
      - checkout
      - restore_cache:
          key: neo4clj-{{ checksum "project.clj" }}
      - run: lein deps
      - save_cache:
          paths:
            - ~/.m2
          key: neo4clj-{{ checksum "project.clj" }}
      - run: lein test